.app-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    /* background-color: #1e1e1e; */
    color: white;
    padding: 20px;
  }
  
  .content {
    padding: 20px;
  }
  